# Docker Data
app/
skills/

# Environment Variables
.env
.env.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System
.DS_Store
Thumbs.db
config/opencode/skills
config/opencode/skills

data/*